body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
    background-image: url(background4.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.navbar-container{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin-right: 2rem;
}
.navbar-container li{
    text-decoration: none;

}

.button{
    border-right: 1px solid #EEDB00;
    /* border-right: ; */
    background: none;
    color: #EEDB00;
    /* border-radius: 2rem; */
    padding: 1rem 0.7rem;
    font-size: 1.1rem;
    cursor: pointer;
}
.logo{
    width:10rem;
    height: auto;
    cursor: pointer;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
